.photo-wrapper {
  display: flex;
}

.photo-item {
  .title {
    text-align: center;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid gray;
  }
}
